body {
    color: #383635;
    background-color: #FFF6F0;
    font-family: Georgia, serif;
}

li.sanw {
    display: none;
}

li.sanw:hover div.drop{
    display: block;
}

div.drop {
    top: 38px;
    left: 8px;
    padding: 3px;
    display: none;
    color: #FFF6F0;
    text-decoration: none;
    position: absolute;
    background-color: #FFF6F0;
    border: solid 2px #383635;
}

ul.top {
    list-style-type:none;
    overflow: hidden;
    background-color: #383635;
    padding: 0;
    margin: 0;
}

li.top a {
    font-size: 20px;
    color: #FFF6F0;
    margin: 5px;
    float: left;
    text-decoration: none;
}

li.top a:hover {
    color: #383635;
    background-color: #FFF6F0;
}

li.sign a {
    font-size: 20px;
    color: #FFF6F0;
    margin: 5px;
    float: right;
    text-decoration: none;
}

li.sign a:hover {
    color: #383635;
    background-color: #FFF6F0;
}

li.here a {
    font-size: 20px;
    color: #383635;
    background-color: #FFF6F0;
    margin: 5px;
    float: left;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin: 10px;
    font-size: 36px;
}

div.con {
    width: 80%;
    margin-left: 10%;
}

div.card p {
    text-align: center;
}

p {
    font-size: 18px;
    text-align: justify;
}

a {
    color: #383635;
}

a:hover {
    color: #FFF6F0;
    background-color: #383635;
}

hr {
    border: solid 1px #383635;
    width: 70%;
}

p.butt {
    text-align: center;
}

@media screen and (max-width: 700px) {
    li.top a {
        display: none;
    }

    li.here a {
        display: none;
    }

    li.sanw {
        display: block;
        font-size: 20px;
        color: #FFF6F0;
        margin: 5px;
        float: left;
        text-decoration: none;
    }

    li.sanw:hover {
        color: #383635;
        background-color: #FFF6F0;
    }
}